* {
    margin: 0;
    padding: 0;
}

.img-wrapper {
    position: relative;
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #34f608;
    z-index: 1;
    opacity: 0.8;
    transition: 1s linear;
}


